<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Graviti uses your location only while you search to sort saved and suggested places by distance.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Sora-Regular.ttf</string>
		<string>Sora-SemiBold.ttf</string>
	</array>
</dict>
</plist>
